{% load staticfiles %}
<html>
    <div class="container-fluid full">
        <head>
            <title>Easy Living</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/easy_living_style.css' %}">

        </head>
        <body>

            <div class="page-header">
                <h1><a href="/">Easy Living</a></h1>
            </div>
            <div class="content container">
                <section class="radio">
                    <h2>Easy Living Standortsuche</h2>
                    <fieldset>
                        <!--<form method="post" action="">-->
                            <!--{% csrf_token %}-->
                            <!--<div class="form-group">-->
                              <!--<label class="suchLabel" for="usr">Suche nach Stadt:</label>-->
                              <!--<input type="text" name="suchanfrage" id = "usr" value=""/> &lt;!&ndash; Die folgende Zeile ermöglicht über das Attribut "name" den Zugriff auf den Inhalt des Textfeldes &ndash;&gt;-->
                            <!--</div>-->
                            <!--<button type="submit" name="submitsuche" class="btn btn-default">Suchen</button> &lt;!&ndash; Später soll über diesen Button die Suchanfrage abgeschickt werden &ndash;&gt;-->
                        <!--</form>-->
                        <br/>
                        <br/>

                        <legend>Filter</legend>
                        <form  method="post">
                            {% csrf_token %}
                            <div class="form-group">

                              <label class="suchLabel" for="usr">Suche nach Stadt:</label>

                              <input type="text" name="suchanfrage" id = "usr" value=""/> <!-- Die folgende Zeile ermöglicht über das Attribut "name" den Zugriff auf den Inhalt des Textfeldes -->
                            </div>

                            <div class="checkbox">
                              <label><input type="checkbox" name="checks[]" value="1"/>Kindergärten</label>
                            </div>

                            <div class="checkbox">
                              <label><input type="checkbox" name="checks[]" value="2"/>Schulen</label>
                            </div>

                            <div class="checkbox">
                              <label><input type="checkbox" name="checks[]" value="3"/>Ärzte</label>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default">

                        </form>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-body">Karte</div>
                          </div>
                        </div>


                    </fieldset>
                </section>
            </div>


        </body>
    </div>
</html>
