{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">


    <title>Easy Living</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}">
    <script src="{% static 'css/bootstrap-slider.min.js' %}" type="text/javascript"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %} "/>
    <script src="{% static 'leaflet/leaflet-src.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script>
        var map;
        $(document).ready(function init_map() {
            map = L.map('mapid').setView([50.938, 6.95], 10);

            <!-- Auswahl verschiedener Layer-->
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            //id: 'mapbox.mapbox-streets-v7',
            //id: 'mapbox.mapbox-terrain-v2',
            //id: 'mapbox.mapbox-traffic-v1',
            id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoicnN0b2RkZW4iLCJhIjoiY2ozdmt0ZDN3MDAydDR1cG1ybXduYjFsZiJ9.1SgNsXjR5DBwU6uEWTZF1A'
            }).addTo(map);

        var marker = L.marker([50.938, 6.95]).addTo(map);
        //var = L.Polygon([...]).addTo(map);
        });

    </script>



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url({% static 'css/Köln1.jpg' %})">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							<h1>EasyLiving</h1>
							<hr class="small">
						</div>

                        <!--<div class="search-field">
                            <form method="post" action="">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                          <label class="suchLabel" for="usr">Suche nach Stadt:</label>
                                          <input type="text" class="form-control" name="suchanfrage" id = "usr" value=""/> &lt;!&ndash; Die folgende Zeile ermöglicht über das Attribut "name" den Zugriff auf den Inhalt des Textfeldes &ndash;&gt;
                                        </div>
                                        <div class="list-group">
                                          <a href="#" class="list-group-item list-group-item-action active">Auswahl 1</a>
                                          <a href="#" class="list-group-item list-group-item-action">Auswahl 2</a>
                                          <a href="#" class="list-group-item list-group-item-action">Auswahl 3</a>
                                          <a href="#" class="list-group-item list-group-item-action">Auswahl 4</a>
                                        </div>
                                        <button id="searchbutton" type="submit" href="#cancas" name="submitsuche" class="btn btn-default">Suchen</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <div>
                                        Umkreis in Metern:<br> <b>10m</b> <input id="ex2" data-slider-id='ex2Slider' type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>1000m</b>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>-->



                    </div>

                            </div>
							<br/>
					</div>
				</div>
			</div>
		</header>

        <div class="container-fluid">
          <div class="col-xs-7">
		<div id="mapid" class="mapcanvas" style="border:1px solid #000000; width:640px; height:480px;"></div>
          </div>


        <br/>

        <div class="col-xs-4">
            <div class="search-field">
                <form method="post" action="">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                              <label class="suchLabel" for="usr">Suche nach Stadt:</label>
                              <input type="text" class="form-control" name="suchanfrage" id = "usr" value=""/> <!-- Die folgende Zeile ermöglicht über das Attribut "name" den Zugriff auf den Inhalt des Textfeldes -->
                            </div>
                            <div class="list-group">
                              <a href="#" class="list-group-item list-group-item-action active">Auswahl 1</a>
                              <a href="#" class="list-group-item list-group-item-action">Auswahl 2</a>
                              <a href="#" class="list-group-item list-group-item-action">Auswahl 3</a>
                              <a href="#" class="list-group-item list-group-item-action">Auswahl 4</a>
                            </div>
                            <button id="searchbutton" type="submit" href="#cancas" name="submitsuche" class="btn btn-default">Suchen</button>
                        </div>
                        <div class="col-xs-6">
                            <div>
                            Umkreis in Metern:<br> <b>10m</b> <input id="ex2" data-slider-id='ex2Slider' type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>1000m</b>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
        <div class="col-xs-4 col-xs-4">
                <div class="dropdown">
                  <button  class="btn btn-primary dropdown-toggle" type="button"  data-toggle="dropdown">Kinder & Bildung<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="1"><input type="checkbox"/>Schulen</a></li>
                          <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="2"><input type="checkbox"/>Kindergärten</a></li>
                          <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="3"><input type="checkbox"/>Kitags</a></li>
                      </ul>
                </div>
          </div>

          <div class="col-xs-4 col-xs-4">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Gesundheit<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="4"><input type="checkbox"/>Apotheken</a></li>
                      <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="5"><input type="checkbox"/>Ärzte</a></li>
                      <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="6"><input type="checkbox"/>Krankenhäuser</a></li>
                  </ul>
            </div>
          </div>

          <div class="col-xs-4 col-xs-4">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Umwelt<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="7"><input type="checkbox"/>Lärmpegel</a></li>
                      <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="8"><input type="checkbox"/>Grünanlagen</a></li>
                      <li><a href="#" name="checks2[]" class="dropdownauswahl" data-value="9"><input type="checkbox"/>LKW-Verbotszonen</a></li>
                  </ul>
            </div>
          </div>

            </div>
        </div>




    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="col">
                <!--<div class="Logo" style="image: url({% static 'css/Logo_transparent.jpg' %})">-->
                    <!--<img src="Logo_transparent.png" class="img-responsive" alt="Logo">-->

                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; EasyLiving 2017</p>
                </div>
            </div>
        </div>
    </footer>
 
 

</body>

<script>
    var slider = new Slider('#ex2', {});
</script>

</html>
